Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/OldBrickHouse/Maps/Demonstration_Night_Map_BuiltData.uasset
Content/OldBrickHouse/Maps/DemonstrationMap_BuiltData.uasset
Content/OldBrickHouse/Maps/Overview_Map_BuiltData.uasset
